* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* height: 100%; */
}

html {
    font-family: "Oswald";
}

body {
    background-color: black;
}

.container{
    background-image: url('/img/bg_aki.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative; 
}

.container .aki-bg {
    width: 100%;
    /* border: 3px solid red; */
    position: absolute;
}

.container .aki-bg img {
    width: 75rem;
    /* border: 3px solid white; */
    margin-left: 4rem;
}

.container header {
    transition: 0.5s;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 5rem;
    padding: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
    background: rgb(66,39,160);
    background: linear-gradient(0deg, rgba(66,39,160,0.5495448179271709) 0%, rgba(12,16,39,1) 100%);
    border-bottom: 0.05rem solid white;
    z-index: 2;
}

.container i {
    margin: 0.2rem;
}

.container header a, i, button {
    /* height: auto; */
    color: white;
}

.container span {
    font-size: 0.6rem;
}

.container header a span{
    color: #D6B424;
}

.container header .logo {
    width: 12rem;
    height: 2rem;
    margin-right: 3rem;
}

.container header button {
    width: 10rem;
    height: 2.5rem;
    background: rgb(69,15,139);
    background: radial-gradient(circle, rgba(69,15,139,1) 0%, rgba(186,39,195,1) 100%);
    font-family: "Kode Mono";
    font-size: 1.6rem;
    font-weight: 700;
    border: 0.05rem solid white;
}

.container main {
    width: 100%;
    height: 55rem;
    /* border: 3px solid blue; */
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 15rem;
}

.container main .descricao {
    /* border: 10px solid green; */
    width: 23rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.container main .descricao h1 {
    font-family: "Kode Mono";
    font-size: 8rem;
}

.container main .descricao p {
    border-left: 3px solid white;
    padding-left: 1rem; 
}

.container main .descricao li {
    list-style: none;
    margin: 0.5rem;
}

.container main .descricao span {
    background-color: black;
    font-size: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.container main .descricao .span1 {
    color: rgb(165, 83, 241);
    width: 4rem;
    display: inline-block;
    justify-content: flex-end;
}

.container main .musica {
    border: 1px solid yellow;
    width: 20rem;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.container main .musica audio {
    height: 2rem;
    background-color: red;
}

.container main .musica img {
    width: 6rem;
}


