* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* height: 100%; */
}

html {
    font-family: "Bebas Neue";
}

body {
    background-color: black;
}
.container{
    background-image: url('/img/bg_character.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
}

.container header {
    transition: 0.5s;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 5rem;
    padding: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
    background: rgb(66,39,160);
    background: linear-gradient(0deg, rgba(66,39,160,0.5495448179271709) 0%, rgba(12,16,39,1) 100%);
    border-bottom: 0.05rem solid white;
    z-index: 1;
}

/* JAVASCRIPT PARA DIMINUIR TAMANHO DO HEADER QUANDO SCROLAR */

/* .container header-fixed {
    position: fixed;
    height: 3.5rem;
    padding: 0rem;
} */


.container header a, i, button {
    /* height: auto; */
    color: white;
}

.container span {
    font-size: 0.6rem;
}

.container header a span{
    color: #D6B424;
}

.container header .logo {
    width: 12rem;
    height: 2rem;
    margin-right: 3rem;
}

.container header button {
    width: 10rem;
    height: 2.5rem;
    background: rgb(69,15,139);
    background: radial-gradient(circle, rgba(69,15,139,1) 0%, rgba(186,39,195,1) 100%);
    font-family: "Kode Mono";
    font-size: 1.6rem;
    font-weight: 700;
    border: 0.05rem solid white;
}

.container main {
    width: 100%;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-bottom: 1rem;
}


.container main h1 {
    font-family: "Chakra Petch";
    font-size: 7rem;
    font-weight: 700;
    transform: translateY(40%);
    transition: opacity 0.5s, transform 1s;
}

.container main h1.transicaoh1{
    transform: translateY(0);
}

.container main .titulo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
    margin-top: 10rem;
    color: white;
}

.container main .titulo img {
    width: 10rem;
}


.container main .titulo .servico {
    background-color: rgba(8, 34, 65, 0.5);
    border: 0.01rem solid grey;
    width: 25rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.container main .personagens {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container main .personagens img {
    position: relative;
    width: 28rem;
    transform: translateX(15%);
    transition: opacity 0.5s, transform 1s;
    /* border: 1px solid white; */
    clip-path: polygon(184px 0, 100% 0, 265px 100%, 1px 100%)
}


.container main .personagens img.transicaoimg {
    transform: translateX(0);
}

.container main .personagens .p1 {
    left: 15rem
}

.container main .personagens .p2 {
    left: 5rem
}

.container main .personagens .p3 {
    right: 5rem
}

.container main .personagens .p4 {
    right: 15rem
}









